.metaverse{
   height:calc(38vw)
   
}
.metaverse-text{
    font-size: 48px;
    font-size: 6vw;
}
.metaverse-subtext{
    margin-top:1rem;
    font-size: 16px;
    font-size: 1.5vw;
    color:rgb(214,207,207)
}
.home-btn{
    background: radial-gradient(rgba(52.19,18,1)50%,rgba(118,55,56,1) );
    font-size: 16px;
    font-size: 1vw;
    border:0.5px solid rgb(157,147,153)
}
