.metaverse{
   height:calc(48vw)
   
}
.metaverse-text{
    font-size: 48px;
    font-size: 6vw;
    line-height: 5vw;
}
.metaverse-subtitle{
    font-size: 30px;
    font-size: 2vw;
    letter-spacing: 0.3vw;
    word-spacing: 0.3vw;
}
.text-light{
    color:rgb(214,207,207)
}
.text-gray{
    color:rgb(167,167,167)
}
.metaverse-dis{
    font-size: 16px;
}
.home-btn{
    background: radial-gradient(rgba(52.19,18,1)50%,rgba(118,55,56,1) );
    font-size: 1rem;
    border:0.5px solid rgb(157,147,153)
}
.slash-title{
    background: linear-gradient(90deg,rgba(255,227,177,1)30%,rgba(255,187,66,1)80% );
    font-size: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.swap-page{
    border-style: 1px solid rgb(80, 79, 79);
    border-radius: 10px;
    background-color: rgb(11, 9, 14);
}