
.bg-minttab {
    background: radial-gradient(#000000, #060509);
}
.input-detail {
    background: rgba(249, 195, 6, 0.05);
    border: 1px solid rgba(237, 227, 137, 0.37);
}
.apply-button-detail {
    background: rgba(132, 60, 60, 0.5);
}