
.border_affiliate {
    border: 1.31746px solid rgba(240, 243, 246, 0.1);
}

.line_ranking {
    background: linear-gradient(90deg, rgba(199, 199, 199, 0) 0%, rgba(199, 199, 199, 0.4) 52.08%, rgba(199, 199, 199, 0) 100%);
}
.land_rarity_item {
    border: 0.616133px solid rgba(249, 195, 6, 0.5);
    border-radius: 9.85813px;
}

.border_earning {
    border-top: 1.31746px solid rgba(240, 243, 246, 0.1);
}

@media (min-width: 1024px) {
    .nfts-info-abs {
        top: 22%;
        left: 5%;
    }
      
}
@media (max-width: 1024px) {
    .nfts-info-abs {
        top: 60%;
        left: 50%;
        transform: translate(-50%, 0);
    }
      
}