.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}
@keyframes load {
  50% {
    transform: rotatez(180deg) scale(0.2);
    border-color: orange;
  }
  100% {
    transform: rotatez(360deg) scale(1.1);
    -webkit-transform: rotatez(360deg) scale(1.1);
    -moz-transform: rotatez(360deg) scale(1.1);
    -ms-transform: rotatez(360deg) scale(1.1);
    -o-transform: rotatez(360deg) scale(1.1);
}
}
.loader1::before {
  content: '';
  color: white;
  height: 30px;
  width: 30px;
  background: transparent;
  border-radius: 45%;
  border: 25px dotted lime;
  animation: load 1s infinite ease-in-out;
}

@keyframes load2 {
  50% {
    transform: rotatez(180deg);
    border-radius: 55%;
  }
  100% {
    transform: rotatez(360deg);
  }
}
.loader2::before {
  content: '';
  color: white;
  height: 30px;
  width: 30px;
  background: transparent;
  border-radius: 10%;
  border: 25px inset orange;
  animation: load2 1s infinite ease-in-out;
}
@keyframes load3 {
  50% {
    transform: rotatez(180deg) scale(1.5);
    border-style: dotted;
  }
  100% {
    transform: rotatez(360deg) scale(0.9);
  }
}
.loader3::before {
  content: '';
  color: white;
  height: 30px;
  width: 30px;
  background: transparent;
  border-radius: 50%;
  border: 15px solid #eb4644;
  border-color: #ae3332 #fac307;
  animation: load3 2s infinite;
  -webkit-animation: load3 2s infinite;
}
@keyframes load4 {
  50% {
    transform: rotatez(180deg);
    border-width: 30px;
  }
  100% {
    transform: rotatez(360deg);
  }
}
.loader4::before {
  content: '';
  color: white;
  height: 30px;
  width: 30px;
  background: transparent;
  border-radius: 50%;
  border: 15px ridge lime;
  border-color: lime transparent;
  animation: load4 1s infinite;
}
@keyframes load5 {
  40% {
    transform: rotatez(-180deg);
    border-width: 16px;
  }
  80% {
    transform: rotatez(-360deg);
  }
  100% {
    transform: rotatez(-360deg);
  }
}
.loader5::before {
  content: '';
  color: white;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  border: 10px dotted lime;
  border-left-color: transparent;
  animation: load5 1s infinite ease-in-out;
}
@keyframes load6 {
  50% {
    transform: rotatez(180deg);
    border-width: 40px;
  }
  100% {
    transform: rotatez(360deg);
  }
}
.loader6::before {
  content: '';
  color: white;
  height: 0px;
  width: 0px;
  background: transparent;
  border-radius: 50%;
  border: 35px ridge red;
  border-color: indigo lime yellow orangered;
  animation: load6 0.5s infinite;
}
@keyframes load7 {
  100% {
    transform: rotatez(360deg);
  }
}
.loader7::before {
  content: '';
  color: white;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  border: 10px solid blue;
  border-color: #0277bd #0277bd #0277bd #81d4fa;
  animation: load7 0.6s infinite ease-in-out;
  box-shadow: 0px 0px 40px -2px skyblue;
}

@keyframes load8 {
  100% {
    transform: rotatez(360deg);
  }
}
.loader8::before {
  content: '';
  color: white;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  border: 10px solid transparent;
  border-color: #039be5 #039be5 transparent transparent;
  animation: load8 0.6s infinite;
}
@keyframes load9 {
  50% {
    transform: rotatez(180deg) scale(0.6);
  }
  100% {
    transform: rotatez(360deg) scale(1);
  }
}
.loader9::before {
  content: '';
  color: white;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  border: 20px dashed transparent;
  border-color: #039be5 indianred;
  animation: load9 0.6s infinite ease-in-out;
}

@keyframes load10 {
  50% {
    transform: rotatez(180deg);
    border-style: dashed;
    border-color: red maroon indianred orangered;
  }
  100% {
    transform: rotatez(360deg);
  }
}
.loader10::before {
  content: '';
  color: white;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  border: 20px solid red;
  animation: load10 1s infinite;
}



.loader-nft {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.loader-nft .inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.loader-nft .inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #f9c308;
}

.loader-nft .inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #d43d3c;
  -webkit-animation: rotate-two 1s linear infinite;
}

.loader-nft .inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}