@media (max-width: 768px) {
 .bg-home{
    background: url('../images/homepage/m-bg-home.jpg') no-repeat center center !important;
    background-size: 100% 100%;
  }
  .metaverse {
    height: 80vh !important;
    }
}
